/.idea
*.log
/.venv/
/_config.yml
/celerybeat-schedule.db
/demo.ipynb
/.ipynb_checkpoints/demo-checkpoint.ipynb
/fairness-frontend.ipynb
/data/gender_submission.csv
/data/.ipynb_checkpoints/gender_submission-checkpoint.csv
/mycert.pem
/mykey.key
/nezd_meg_pali.zip
/proto_visualization.ipynb
/.ipynb_checkpoints/proto_visualization-checkpoint.ipynb
/data/test.csv
/data/.ipynb_checkpoints/test-checkpoint.csv
/test_fairness.ipynb
/.ipynb_checkpoints/test_fairness-checkpoint.ipynb
/data/train.csv
/visualization_techniques.ipynb
/.ipynb_checkpoints/visualization_techniques-checkpoint.ipynb
